{% extends "RobyulWebBundle:Default:base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <p class="lead">
                You can customize your Robyul Profile using one of these user submitted backgrounds.<br>
                To view your Robyul Profile say <code>{{ discord_bot_prefix }}profile</code> in Discord.<br>
                You can submit new backgrounds <a href="https://goo.gl/forms/ZYFCGWNi5tYPAfki2" target="_blank">here</a>.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <ul class="list-inline nav-pills backgrounds-nav">
                <li class="list-inline-item nav-item backgrounds-filter-button-tag">
                    <a class="nav-link active" data-toggle="pill" href="#" data-tag="">All</a>
                </li>
                {% set tagsAlias = {
                    'aoa': 'AOA',
                    'astro': 'ASTRO',
                    'b.a.p': 'B.A.P',
                    'blackpink': 'BLACKPINK',
                    'btob': 'BtoB',
                    'bts': 'BTS',
                    'clc': 'CLC',
                    'day6': 'Day6',
                    'dia': 'DIA',
                    'exo': 'EXO',
                    'f(x)': 'f(x)',
                    'gfriend': 'GFRIEND',
                    'got7': 'GOT7',
                    'gugudan': 'gugudan',
                    'i.o.i': 'I.O.I',
                    'infinite': 'INFINITE',
                    'knk': 'KNK',
                    'laboum': 'LABOUM',
                    'loona': 'LOONA',
                    'mamamoo': 'MAMAMOO',
                    'misc': 'Misc.',
                    'monsta x': 'MONSTA X',
                    'nct': 'NCT',
                    'nu\'est': 'NU\'EST',
                    'ohmygirl': 'Oh My Girl',
                    'pentagon': 'PENTAGON',
                    'pristin': 'PRISTIN',
                    'seventeen': 'SEVENTEEN',
                    'sf9': 'SF9',
                    'shinee': 'SHINee',
                    'snsd': 'SNSD',
                    't-ara': 'T-ara',
                    'toppdogg': 'ToppDogg',
                    'twice': 'TWICE',
                    'vixx': 'VIXX',
                    'wanna one': 'WANNA ONE',
                    'winner': 'WINNER',
                    'wjsn': 'WJSN',
                    'onf': 'ONF'
                } %}
                {% set tagsPrintFirst = ['girl group', 'boy group', 'solo artist', 'acting', 'misc'] %}
                {% for tag in tags %}
                    {% if tag in tagsPrintFirst %}
                    <li class="list-inline-item nav-item backgrounds-filter-button-tag">
                        <a class="nav-link" data-toggle="pill" href="#" data-tag="{{ tag }}">
                            {% if tagsAlias[tag] is defined %}
                                {{ tagsAlias[tag] }}
                            {% else %}
                                {{ tag|title }}
                            {% endif %}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
                <br>
                {% for tag in tags|sort %}
                    {% if tag not in tagsPrintFirst %}
                        <li class="list-inline-item nav-item backgrounds-filter-button-tag">
                            <a class="nav-link" data-toggle="pill" href="#" data-tag="{{ tag }}">
                                {% if tagsAlias[tag] is defined %}
                                {{ tagsAlias[tag] }}
                                {% else %}
                                {{ tag|title }}
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center backgrounds-container">
            {% for background in backgrounds %}
            <div class="col col-12 col-lg-5 background-item"
                data-tags="{% if "tags" in background|keys %}{{ background.tags|join(',') }}{% endif %}" data-name="{{ background.id }}"
            >
                <div class="card background-card">
                    <img class="card-img-top lazy" data-original="{{ background.url }}" alt="{{ background.id }}">
                    <div class="card-block">
                        <p class="card-text">
                            To choose this Background say<br><code>{{ discord_bot_prefix }}profile background {{ background.id }}</code> in Discord.</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

