{% extends "RobyulWebBundle:Default:base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <p class="lead">
                You can customize your Robyul Profile using one of these user submitted backgrounds.<br>
                To view your Robyul Profile say <code>{{ discord_bot_prefix }}profile</code> in Discord.<br>
                You can submit new backgrounds <a href="https://goo.gl/forms/ZYFCGWNi5tYPAfki2" target="_blank">here</a>.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            {% for background in backgrounds %}
            <div class="col col-12 col-lg-5">
                <div class="card background-card">
                    <img class="card-img-top" src="{{ background.url }}" alt="{{ background.id }}">
                    <div class="card-block">
                        <p class="card-text">
                            To choose this Background say<br><code>{{ discord_bot_prefix }}profile background {{ background.id }}</code> in Discord.</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

