{% extends "RobyulWebBundle:Default:base.html.twig" %}

{% block content %}
    <div class="jumbotron ranking-jumbotron">
        {% if guildIcon !=  "" %}
            <img class="ranking-big-icon"
                 src="https://cdn.discordapp.com/icons/{{ guildID }}/{{ guildIcon }}.jpg?size=256">
        {% else %}
            <i class="fa fa-trophy ranking-big-global-icon" aria-hidden="true"></i>
        {% endif %}
        <h1 class="display-3 ranking-server-title">
            {% if guildName|lower == "global" %}
                Global Ranking
            {% else %}
                <small>Ranking for</small> {{ guildName }}
            {% endif %}
        </h1>
        <p>
            {% if is_granted('ROLE_DISCORD_USER') %}
                {% set rankUserData = user_rank_data(guildID, app.user.ID) %}
                {% if rankUserData.IsMember is defined and rankUserData.IsMember == true %}
                    <span class="profile-hover" data-profile-iframe-url="{{ path('robyulweb_frame_profile',
                    {'userID': app.user.ID, 'guildID': guildID}) }}">You are <b>#{{ rankUserData.Ranking }}</b>{% if rankings.Count is defined %} of <b>{{ rankings.Count|number_format(0, '', ' ') }} members</b>{% endif %}.</span>
                {% else %}
                    You are not on this server.
                {% endif %}
            {% else %}
                <a href="{{ hwi_oauth_login_url('discord') }}">Login using Discord</a> to see your rank.
            {% endif %}
        </p>
    </div>
    <div class="container ranking-container">
        {% for rank in rankings.Ranks %}
            <div class="row">
                <div class="col-md-1 col-2">
                    <p>#{{ rank.Ranking }}</p>
                </div>
                <div class="col-md-6 col-10">
                    <p>
                        {% set isMember = false %}
                        {% if rank.IsMember is defined %}
                            {% set isMember = rank.IsMember %}
                        {% endif %}
                        <span class="ranking-table-item {% if isMember == true %}profile-hover{% else %}ranking-item-inactive{% endif %}" data-profile-iframe-url="{{ path('robyulweb_frame_profile',
                            {'userID': rank.User.ID, 'guildID': guildID}) }}">
                        {% if rank.User.AvatarHash == "" %}
                            {% image '@RobyulWebBundle/Resources/public/images/placeholder_icon.jpg' output='static/images/placeholder_icon.jpg' %}
                                <img class="profile-medium-avatar" src="{{ asset_url }}">
                            {% endimage %}
                        {% else %}
                            <img class="profile-medium-avatar lazy"
                                 data-original="{{ discord_avatar(rank.User.ID, rank.User.AvatarHash) }}?size=128">
                        {% endif %}
                            {{ rank.User.Username }}
                            <small>#{{ rank.User.Discriminator }}</small>
                        </span>
                    </p>
                </div>
                <div class="col-md-3 col-8">
                    {% if rank.Progress is defined %}
                        <div class="row">
                            <div class="col-12">
                                {{ rank.NextLevelCurrentEXP|number_format(0, '', ' ') }} / {{ rank.NextLevelTotalEXP|number_format(0, '', ' ') }} EXP
                            </div>
                            <div class="col-12">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{ rank.Progress }}%" aria-valuenow="{{ rank.Progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-2 col-4">
                    <p>
                        <small>Level</small> {{ rank.Level }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

