{% extends "RobyulWebBundle:Default:base.html.twig" %}

{% block content %}
    <div class="jumbotron ranking-jumbotron">
        {% if guildIcon !=  "" %}
            <img class="ranking-big-icon"
                 src="https://cdn.discordapp.com/icons/{{ guildID }}/{{ guildIcon }}.jpg?size=256">
        {% else %}
            <i class="fa fa-trophy ranking-big-global-icon" aria-hidden="true"></i>
        {% endif %}
        <h1 class="display-3 ranking-server-title">
            {% if guildName|lower == "global" %}
                Global Ranking
            {% else %}
                <small>Ranking for</small> {{ guildName }}
            {% endif %}
        </h1>
        <p>
            {% if is_granted('ROLE_DISCORD_USER') %}
                {% set rankUserData = user_rank_data(guildID, app.user.ID) %}
                {% if rankUserData.IsMember is defined and rankUserData.IsMember == true %}
                    <span class="profile-hover" data-profile-iframe-url="{{ path('robyulweb_frame_profile',
                    {'userID': app.user.ID, 'guildID': guildID}) }}">You are <b>#{{ rankUserData.Ranking }}</b>{% if rankings.Count is defined %} of <b>{{ rankings.Count|number_format(0, '', ' ') }} members</b>{% endif %}.</span>
                {% else %}
                    You are not on this server.
                {% endif %}
            {% else %}
                <a href="{{ hwi_oauth_login_url('discord') }}">Login using Discord</a> to see your rank.
            {% endif %}
        </p>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>User</th>
            <th>Level</th>
        </tr>
        </thead>
        <tbody>
        {% for rank in rankings.Ranks %}
            <tr class="ranking-table-row">
                <th scope="row">{{ rank.Ranking }}</th>
                <td>
                    {% set isMember = false %}
                    {% if rank.IsMember is defined %}
                        {% set isMember = rank.IsMember %}
                    {% endif %}
                <span class="ranking-table-item {% if isMember == true %}profile-hover{% else %}ranking-table-item-inactive{% endif %}" data-profile-iframe-url="{{ path('robyulweb_frame_profile',
                {'userID': rank.User.ID, 'guildID': guildID}) }}">
                    {% if rank.User.AvatarHash == "" %}
                        {% image '@RobyulWebBundle/Resources/public/images/placeholder_icon.jpg' output='static/images/placeholder_icon.jpg' %}
                        <img class="profile-medium-avatar" src="{{ asset_url }}">
                                {% endimage %}
                    {% else %}
                        <img class="profile-medium-avatar lazy"
                             data-original="{{ discord_avatar(rank.User.ID, rank.User.AvatarHash) }}?size=128">
                    {% endif %}
                    {{ rank.User.Username }}
                    <small>#{{ rank.User.Discriminator }}</small>
                </span>
                </td>
                <td>
                    <small>Level</small> {{ rank.Level }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

