{% extends "RobyulWebBundle:Default:base.html.twig" %}

{% block content %}
    <div class="row server-general-header">
        <div class="col-12">
            {% if guildIcon !=  "" %}
                <img class="ranking-big-icon"
                    src="https://cdn.discordapp.com/icons/{{ guildID }}/{{ guildIcon }}.jpg?size=256">
            {% endif %}
            <h1 class="display-3 ranking-server-title">
                <small>Chatlog for</small> {{ guildName }}
            </h1>
        </div>
    </div>
    <form id="chatlog-around-messageid-form" data-guild-id="{{ guildID }}">
        <div class="row">
            <div class="col">
                <select class="form-control" id="chatlog-channel-select" required>
                    {% for channel in guildChannels %}
                        {% if channel.Type == "text" %}
                            <option value="{{ channel.ID }}">#{{ channel.Name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="chatlog-around-messageid-input" placeholder="Around Message ID">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary" id="button-chatlog-submit">Lookup</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover table-sm chatlog-table">
                <thead>
                    <tr>
                        <th>Message ID</th>
                        <th>Time</th>
                        <th>User</th>
                        <th>Content</th>
                    </tr>
                </thead>
                <tbody id="chatlog-result-tbody"></tbody>
            </table>
        </div>
    </div>
{% endblock %}
