{% extends "RobyulWebBundle:Default:base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-2">
            <img class="profile-big-avatar" src="{{ app.user.avatarUrl }}?size=256">
        </div>
        <div class="col-10">
            <h1>{{ app.user.discordUsername }}</h1>
            <p>You are in <b>{{ memberOfGuilds|length }} servers</b> with Robyul.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list-inline" style="margin-top: 1rem;">
                {% for guild in memberOfGuilds %}
                    <li class="list-inline-item" style="width: 128px;">
                        <h5 style="text-align: center;">{{ guild.Name }}</h5>
                        {% if guild.Icon != "" %}
                            <img class="profile-big-avatar"
                                 src="https://cdn.discordapp.com/icons/{{ guild.ID }}/{{ guild.Icon }}.jpg?size=256">
                        {% endif %}
                        {# TODO: Placeholder image #}
                        </p>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
