{% extends "RobyulWebBundle:Default:base.html.twig" %}

{% block content %}
    <div class="row">
        {% set discordUser = discord_user(app.user.id) %}
        <div class="col-12 col-md-2">
            <img class="profile-big-avatar" src="{{ discord_avatar(app.user.ID, discordUser.AvatarHash) }}?size=256">
        </div>
        <div class="col-12 col-md-4">
            <h1>{{ discordUser.Username }}</h1>
            <p>You are in <b>{{ memberOfGuilds|length }} servers</b> with Robyul.</p>
        </div>
        <div class="col-12 col-md-6">
            <iframe width="400" height="300" frameborder="0" scrolling="no" src="{{ path('robyulweb_frame_profile',
            {'userID': app.user.id, 'guildID': 'global'}) }}"></iframe>
        </div>
        {% if globalAdjustedEXP > 0 %}
        <div class="col-12">
            <h4>Most active servers</h4>
            <div class="progress profile-bar">
                {% set numOfBarColours = 4 %}
                {% set curBarColour = 1 %}
                {% for ranking in allRankings %}
                    {% if ranking.GuildID != "global" and ranking.Level > 0 %}
                        {% set currentGuild = "" %}
                        {% for guild in memberOfGuilds %}
                            {% if guild.ID == ranking.GuildID %}{% set currentGuild = guild %}{% endif %}
                        {% endfor %}
                        {% set percentage = (100/(globalAdjustedEXP/ranking.EXP))|round(0, 'ceil') %}
                        <div class="progress-bar bg-success profile-bar-colour-{{ curBarColour }}"
                             role="progressbar" style="width: {{ percentage }}%"
                             data-toggle="tooltip" data-placement="top" title="{{ currentGuild.Name }}: Level {{ ranking.Level }}"
                        >
                            {% if percentage >= 3 %}
                                {{ currentGuild.Name }}
                            {% endif %}
                        </div>
                        {% set curBarColour = curBarColour+1 %}
                        {% if curBarColour > numOfBarColours %}{% set curBarColour = 1 %}{% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list-inline" style="margin-top: 1rem;">
                {% for guild in memberOfGuilds %}
                    <li class="list-inline-item server-tile-item">
                        <span   class="profile-hover"
                                data-profile-iframe-url="{{ path('robyulweb_frame_profile',
                                {'userID': app.user.id, 'guildID': guild.ID}) }}">
                        <a href="{{ path('robyulweb_default_ranking', {'guildID': guild.ID}) }}">
                            <div>
                                <h5>{{ guild.Name }}</h5>
                            </div>
                            {% if guild.Icon != "" %}
                                <img class="profile-big-avatar"
                                     src="https://cdn.discordapp.com/icons/{{ guild.ID }}/{{ guild.Icon }}.jpg?size=256">
                            {% else %}
                                {% image '@RobyulWebBundle/Resources/public/images/placeholder_icon.jpg' output='static/images/placeholder_icon.jpg' %}
                                <img class="profile-big-avatar" src="{{ asset_url }}">
                                {% endimage %}
                            {% endif %}
                        </a>
                            </span>
                        <ul class="list-unstyled">
                            {% if guild.Features.Levels_Badges.Count > 0 %}
                                <li>
                                    <a href="{{ path('robyulweb_default_commands', {'guildID': guild.ID}) }}#levels"><i
                                                class="fa fa-certificate" aria-hidden="true"></i> Badges</a>
                                </li>
                            {% endif %}
                            {% if guild.Features.RandomPictures.Count > 0 %}
                                <li>
                                    <a href="{{ path('robyulweb_default_commands', {'guildID': guild.ID}) }}#randompictures"><i
                                                class="fa fa-picture-o" aria-hidden="true"></i> Random Pictures</a>
                                </li>
                                <li>
                                    <a href="{{ path('robyulweb_security_randompictureshistory', {'guildID': guild.ID}) }}"><i
                                                class="fa fa-picture-o" aria-hidden="true"></i> Gallery</a>
                                </li>
                            {% endif %}
                            {% if guild.Status.IsGuildAdmin or guild.Status.IsGuildMod %}
                                <li>
                                    <a href="{{ path('robyulweb_security_statistics', {'guildID': guild.ID}) }}"><i
                                                class="fa fa-bar-chart" aria-hidden="true"></i> Statistics</a>
                                </li>
                            {% endif %}
                            {% if guild.Status.HasGuildPermissionAdministrator and guild.Features.Chatlog.Enabled %}
                                <li>
                                    <a href="{{ path('robyulweb_security_chatlog', {'guildID': guild.ID}) }}"><i
                                                class="fa fa-archive" aria-hidden="true"></i> Chatlog</a>
                                </li>
                            {% endif %}
                            {% if (guild.Status.IsGuildAdmin or guild.Status.IsGuildMod) and guild.Features.VanityInvite.VanityInviteName != "" %}
                                <li>
                                    <a href="{{ path('robyulweb_security_vanityinvite', {'guildID': guild.ID}) }}"><i
                                                class="fa fa-link" aria-hidden="true"></i> Custom Invite</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
