{% extends "RobyulWebBundle:Default:base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-2">
            <img class="profile-big-avatar" src="{{ app.user.avatarUrl }}?size=256">
        </div>
        <div class="col-12 col-md-4">
            <h1>{{ app.user.discordUsername }}</h1>
            <p>You are in <b>{{ memberOfGuilds|length }} servers</b> with Robyul.</p>
        </div>
        <div class="col-12 col-md-6">
            <iframe width="400" height="300" frameborder="0" scrolling="no" src="{{ path('robyulweb_frame_profile',
            {'userID': app.user.id, 'guildID': 'global'}) }}"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list-inline" style="margin-top: 1rem;">
                {% for guild in memberOfGuilds %}
                    <li class="list-inline-item server-tile-item">
                        <span   class="profile-hover"
                                data-profile-iframe-url="{{ path('robyulweb_frame_profile',
                                {'userID': app.user.id, 'guildID': guild.ID}) }}">
                        <a href="{{ path('robyulweb_default_ranking', {'guildID': guild.ID}) }}">
                            <div>
                                <h5>{{ guild.Name }}</h5>
                            </div>
                            {% if guild.Icon != "" %}
                                <img class="profile-big-avatar"
                                     src="https://cdn.discordapp.com/icons/{{ guild.ID }}/{{ guild.Icon }}.jpg?size=256">
                            {% else %}
                                {% image '@RobyulWebBundle/Resources/public/images/placeholder_icon.jpg' output='static/images/placeholder_icon.jpg' %}
                                <img class="profile-big-avatar" src="{{ asset_url }}">
                                {% endimage %}
                            {% endif %}
                        </a>
                            </span>
                        <ul class="list-unstyled">
                            {% if guild.Features.Levels_Badges.Count > 0 %}
                                <li>
                                    <a href="{{ path('robyulweb_default_commands') }}#levels"><i
                                                class="fa fa-certificate" aria-hidden="true"></i> Badges</a>
                                </li>
                            {% endif %}
                            {% if guild.Features.RandomPictures.Count > 0 %}
                                <li>
                                    <a href="{{ path('robyulweb_default_commands') }}#randompictures"><i
                                                class="fa fa-picture-o" aria-hidden="true"></i> Random Pictures</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
