{% extends "RobyulWebBundle:Default:base.html.twig" %}

{% block content %}
    <div class="row">
        {% set discordUser = discord_user(app.user.id) %}
        <div class="col-12 col-md-2">
            <img class="profile-big-avatar" src="{{ discord_avatar(app.user.ID, discordUser.AvatarHash) }}?size=256">
        </div>
        <div class="col-12 col-md-4">
            <h1>{{ discordUser.Username }}</h1>
            <p>You are in <b>{{ memberOfGuilds|length }} servers</b> with Robyul.</p>
        </div>
        <div class="col-12 col-md-6">
            <iframe width="400" height="300" frameborder="0" scrolling="no" src="{{ path('robyulweb_frame_profile',
                {'userID': app.user.id, 'guildID': 'global'}) }}"></iframe>
        </div>
        {% if globalAdjustedEXP > 0 %}
        <div class="col-12">
            <h4>Your most active servers</h4>
            <div id="profile-bar-chart"></div>
            <script type="text/javascript" data-cfasync="false">
                window.profileBarRankingData = {{ rawRankings|json_encode|raw }};
            </script>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
                {% for guild in memberOfGuilds %}
                    <div class="col-12 col-sm-4 col-lg-2 server-tile-item">
                        <span class="profile-hover"
                              data-profile-iframe-url="{{ path('robyulweb_frame_profile',
                                  {'userID': app.user.id, 'guildID': guild.ID}) }}">
                        <a href="{{ path('robyulweb_default_ranking', {'guildID': guild.ID}) }}">
                            <div>
                                <h5>{{ guild.Name }}</h5>
                            </div>
                            {% if guild.Icon != "" %}
                                <img class="profile-big-avatar"
                                     src="https://cdn.discordapp.com/icons/{{ guild.ID }}/{{ guild.Icon }}.jpg?size=256">
                            {% else %}
                                {% image '@RobyulWebBundle/Resources/public/images/placeholder_icon.jpg' output='static/images/placeholder_icon.jpg' %}
                                    <img class="profile-big-avatar" src="{{ asset_url }}">
                                {% endimage %}
                            {% endif %}
                        </a>
                            </span>
                        <ul class="list-unstyled">
                            {% if guild.Features.Levels_Badges.Count > 0 %}
                                <li>
                                    <a href="{{ path('robyulweb_default_commands', {'guildID': guild.ID}) }}#levels"><i
                                                class="fa fa-certificate" aria-hidden="true"></i> Badges</a>
                                </li>
                            {% endif %}
                            {% if guild.Features.RandomPictures.Count > 0 %}
                                {#
                                <li>
                                    <a href="{{ path('robyulweb_default_commands', {'guildID': guild.ID}) }}#randompictures"><i
                                                class="fa fa-picture-o" aria-hidden="true"></i> Random Pictures</a>
                                </li>
                                #}
                                <li>
                                    <a href="{{ path('robyulweb_security_randompictureshistory', {'guildID': guild.ID}) }}"><i
                                                class="fa fa-picture-o" aria-hidden="true"></i> Gallery</a>
                                </li>
                            {% endif %}
                            {% if guild.Status.IsGuildAdmin or guild.Status.IsGuildMod %}
                                <li>
                                    <a href="{{ path('robyulweb_security_statistics', {'guildID': guild.ID}) }}"><i
                                                class="fa fa-bar-chart" aria-hidden="true"></i> Statistics</a>
                                </li>
                            {% endif %}
                            {% if (guild.Status.IsGuildAdmin or guild.Status.IsGuildMod) and guild.Features.Eventlog.Enabled %}
                                <li>
                                    <a href="{{ path('robyulweb_security_eventlog', {'guildID': guild.ID}) }}"><i
                                                class="fa fa-binoculars" aria-hidden="true"></i> Eventlog</a> <span class="badge badge-secondary">Beta</span>
                                </li>
                            {% endif %}
                            {% if guild.Status.HasGuildPermissionAdministrator and guild.Features.Chatlog.Enabled %}
                                <li>
                                    <a href="{{ path('robyulweb_security_chatlog', {'guildID': guild.ID}) }}"><i
                                                class="fa fa-archive" aria-hidden="true"></i> Chatlog</a>
                                </li>
                            {% endif %}
                            {% if (guild.Status.IsGuildAdmin or guild.Status.IsGuildMod) and guild.Features.VanityInvite.VanityInviteName != "" %}
                                <li>
                                    <a href="{{ path('robyulweb_security_vanityinvite', {'guildID': guild.ID}) }}"><i
                                                class="fa fa-link" aria-hidden="true"></i> Custom Invite</a>
                                </li>
                            {% endif %}
                            {% if (guild.Status.IsGuildAdmin or guild.Status.IsGuildMod) and guild.Settings and guild.Settings.Strings and guild.Settings.Strings|length > 0 %}
                                <li>
                                    <a href="{{ path('robyulweb_security_settings', {'guildID': guild.ID}) }}"><i
                                                class="fa fa-wrench" aria-hidden="true"></i> Settings</a> <span class="badge badge-secondary">Beta</span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endfor %}
    </div>
{% endblock %}
