{% extends "RobyulWebBundle:Default:base.html.twig" %}

{% block content %}
    <div class="row server-general-header">
        <div class="col-12">
            {% if guildIcon !=  "" %}
                <img class="ranking-big-icon"
                     src="https://cdn.discordapp.com/icons/{{ guildID }}/{{ guildIcon }}.jpg?size=256">
            {% endif %}
            <h1 class="display-3 ranking-server-title">
                <small>Statistics for</small> {{ guildName }}
            </h1>
        </div>
    </div>
    <form id="serveractivity-range-form" data-guild-id="{{ guildID }}">
        <div class="row justify-content-center">
            <div class="col-12 col-md-1">
                <h4>Last</h4>
            </div>
            <div class="col-12 col-md-3">
                <input type="number" class="form-control" value="24" min="3" required id="count-serveractivity-input">
            </div>
            <div class="col-12 col-md-4">
                <select class="form-control" required id="interval-serveractivity-select">
                    <option value="minute">minutes</option>
                    <option value="hour" selected="selected">hours</option>
                    <option value="day">days</option>
                    <option value="week">weeks</option>
                    <option value="month">months</option>
                </select>
            </div>
            <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-primary" id="button-serveractivity-submit">Go</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
            <div id="messageactivity-chart"
                 data-guild-id="{{ guildID }}"
                 data-guild-name="{{ guildName }}"
            ></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="joinsandleavesactivity-chart"
                 data-guild-id="{{ guildID }}"
                 data-guild-name="{{ guildName }}"
            ></div>
        </div>
    </div>
    {##}
    <div class="row">
        <div class="col-4">
            <div class="statistics-counter" data-type="messages" data-interval="5m" data-refresh="10000"
                 data-guild-id="{{ guildID }}">
                <h5>Messages in the last 5 Minutes</h5>
                <h3 id="number"></h3>
            </div>
        </div>
        <div class="col-4">
            <div class="statistics-counter" data-type="joins" data-interval="5m" data-refresh="10000"
                 data-guild-id="{{ guildID }}">
                <h5>Joins in the last 5 Minutes</h5>
                <h3 id="number"></h3>
            </div>
        </div>
        <div class="col-4">
            <div class="statistics-counter" data-type="leaves" data-interval="5m" data-refresh="10000"
                 data-guild-id="{{ guildID }}">
                <h5>Leaves in the last 5 Minutes</h5>
                <h3 id="number"></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="statistics-counter" data-type="messages" data-interval="1h" data-refresh="300000"
                 data-guild-id="{{ guildID }}">
                <h5>Messages in the last hour</h5>
                <h3 id="number"></h3>
            </div>
        </div>
        <div class="col-4">
            <div class="statistics-counter" data-type="joins" data-interval="1h" data-refresh="300000"
                 data-guild-id="{{ guildID }}">
                <h5>Joins in the last hour</h5>
                <h3 id="number"></h3>
            </div>
        </div>
        <div class="col-4">
            <div class="statistics-counter" data-type="leaves" data-interval="1h" data-refresh="300000"
                 data-guild-id="{{ guildID }}">
                <h5>Leaves in the last hour</h5>
                <h3 id="number"></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="statistics-counter" data-type="messages" data-interval="24h" data-refresh="1800000"
                 data-guild-id="{{ guildID }}">
                <h5>Messages in the last 24 hours</h5>
                <h3 id="number"></h3>
            </div>
        </div>
        <div class="col-4">
            <div class="statistics-counter" data-type="joins" data-interval="24h" data-refresh="1800000"
                 data-guild-id="{{ guildID }}">
                <h5>Joins in the last 24 hours</h5>
                <h3 id="number"></h3>
            </div>
        </div>
        <div class="col-4">
            <div class="statistics-counter" data-type="leaves" data-interval="24h" data-refresh="1800000"
                 data-guild-id="{{ guildID }}">
                <h5>Leaves in the last 24 hours</h5>
                <h3 id="number"></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="statistics-counter" data-type="messages" data-interval="7d" data-refresh="3600000"
                 data-guild-id="{{ guildID }}">
                <h5>Messages in the last 7 days</h5>
                <h3 id="number"></h3>
            </div>
        </div>
        <div class="col-4">
            <div class="statistics-counter" data-type="joins" data-interval="7d" data-refresh="3600000"
                 data-guild-id="{{ guildID }}">
                <h5>Joins in the last 7 days</h5>
                <h3 id="number"></h3>
            </div>
        </div>
        <div class="col-4">
            <div class="statistics-counter" data-type="leaves" data-interval="7d" data-refresh="3600000"
                 data-guild-id="{{ guildID }}">
                <h5>Leaves in the last 7 days</h5>
                <h3 id="number"></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="statistics-counter" data-type="messages" data-interval="30d" data-refresh="3600000"
                 data-guild-id="{{ guildID }}">
                <h5>Messages in the last 30 days</h5>
                <h3 id="number"></h3>
            </div>
        </div>
        <div class="col-4">
            <div class="statistics-counter" data-type="joins" data-interval="30d" data-refresh="3600000"
                 data-guild-id="{{ guildID }}">
                <h5>Joins in the last 30 days</h5>
                <h3 id="number"></h3>
            </div>
        </div>
        <div class="col-4">
            <div class="statistics-counter" data-type="leaves" data-interval="30d" data-refresh="3600000"
                 data-guild-id="{{ guildID }}">
                <h5>Leaves in the last 30 days</h5>
                <h3 id="number"></h3>
            </div>
        </div>
    </div>
    {##}
{% endblock %}
