{% extends "RobyulWebBundle:Default:base.html.twig" %}

{% block header %}
    {% stylesheets '@RobyulWebBundle/Resources/public/css/idolschool.css' output='static/css/idolschool.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% stylesheets '@RobyulWebBundle/Resources/public/css/theunit.css' output='static/css/theunit.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <div id="graph">
                <div class="row">
                    <div class="col-12">
                        <div id="plot">
                            <div class="note" id="note0"></div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end" id="profile">
                    <div class="col-12 col-md-3">
                        <img src="#" id="pic">
                    </div>
                    <div class="col-12 col-md-5">
                        <h4 id="infoName"></h4>
                        <div id="infoRank"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div id="chart">
                <h1>Current Rankings
                    <small><a href="{{ path('robyulweb_showrankings_theunitgirls') }}" class="link-girls"><i class="fa fa-arrow-right" aria-hidden="true"></i> Girls</a></small>
                </h1>
                <table id="top">
                    <thead>
                    <tr class="smallCaps">
                        <th id="latestRank" class="selectedSort">Rank</th>
                        <th id="name">Name</th>
                        <th id="rankChange">Change</th>
                    </tr>
                    </thead>
                    <tbody id="topBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 idolschool-footer">
            <a href="https://p101s2.github.io/" target="_blank">build using p101s2.github.io</a> -
            <a href="{{ path('robyulweb_showrankings_theunitgirls') }}">The Unit Girls Ranking</a> -
            <a href="https://discord.gg/FVncbSH" target="_blank">join the The Unit discord</a> -
            <a href="https://www.reddit.com/r/KBSTheUnit/" target="_blank">The Unit subreddit</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://d3js.org/d3.v4.js"></script>
    {% javascripts
    '@RobyulWebBundle/Resources/public/js/theunit_boys.js' output='static/js/theunit_boys.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}